<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="box">
      <img src="../static/images/deloitte.png">
      <form action="age" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
      </form>
      
      <img src="../static/images/sura.png">
      <br>
      Demo GitFlow
    </div>
</body>
</html>